.NameInput{
    background-color: #FAFBFC;
    border-radius: 10px !important;
}
.Button{
    background-color: #3B3186 !important;
    border-radius: 13px !important;
    width: 30%;
    float: right;
    
}
.active{
    font-weight: bold !important;
    color: #3B3186;
    text-decoration: underline;
}.nav{
    font-weight: bold !important;
    color: #838A9A;
    text-decoration: underline;
}
